__pycache__
.vscode

all excels
all resumes
logs

old

secrets.py
# Personal config files (ignore but keep examples)
config/personals.py
config/questions.py
config/search.py
config/settings.py
config/resume.py
config/secrets.py
.venv
apikeys.py